<div class="container">
	<h2>You must verify before logging in. An email has been sent to you. Thank you for cooperating.</h2>
<form class="container" [formGroup]="verifyForm" (ngSubmit)="onSubmit(verifyForm.value)">
	<div style='width:100%; margin-left:auto; margin-right:auto;  background:white; padding:40px;'>

    <div class='row' style='width:80%; margin-left:auto; margin-right:auto; '>
			<p style='font-size:20px; font-weight:bold'>Email *</p>
			<div class='small-12 columns'>
				<input formControlName="email" style='padding:0px; position:relative; left:-16px; font-size:20px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none; border-bottom-style:solid;'
						 type='text' required placeholder='Enter Email'>
			</div>
		</div>
    <br/>

    <div class='row' style='width:80%; margin-left:auto; margin-right:auto; '>
			<p style='font-size:20px; font-weight:bold'>Key *</p>
			<div class='small-12 columns'>
				<input formControlName="key" style='padding:0px; position:relative; left:-16px; font-size:20px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none; border-bottom-style:solid;'
						 type='text' required placeholder='Enter Key'>
			</div>
		</div>

		<div style='text-align:center'>
			<button type='submit' id='login_btn' class='btn btn-primary' style='font-size:20px'>Sign In</button>
		</div>
	</div>
</form>
</div>
