<div class="row wrapper">
	<div class="col-sm-6" id ="div1">
		<div class="inner-banner">
			<div class="row line-item">
				<i class="material-icons">
				search
				</i> See what other people are saying
			</div>
			<div class="row line-item">
				<i class="material-icons">person</i>
				Converse with new people
			</div>
			<div class="row line-item">
				<i class="material-icons">
				chat_bubble
				</i> Discover more today
			</div>
		</div>
	</div>
	<div class="col-sm-6" id="div2">
		<div class="inner-banner">
			<div class="row line-item">
				Register today
			</div>
			<div class="row line-item1">
        <a routerLink='/signupform'><span routerLinkActive="active_cus" class="btn btn-primary" routerLink="/signupform">Sign up</span></a>
			</div>
			<div class="row line-item1">
				<a routerLink='/login'><span routerLinkActive="active_cus" class="btn btn-primary" routerLink="/login">Login</span></a>
			</div>
		</div>
	</div>
</div>
