<main-nav></main-nav>
<!--<div id='action_fan_section'  class='comics content' style='padding:40px;'>-->
	<!--<p style='font-size:40px; position:relative; left:0px;'>Action/Fantasy</p>-->
	<!--<div class="row_comic" style='width:80%; position:relative; left:0px;'>-->
	<!--</div>-->
<!--</div>-->
<div class='weekly_nav header' id='genre_nav' style='background-color:white; border-bottom-style:solid; border-width:.6px; border-color:rgb(219, 219, 219); margin-top:0px; margin-left:auto; margin-right:auto; border-top: 1px solid #eaeaea;'>
	<div class='row' style='margin-top:-7px;'>
		<div class='small-12 columns small-offset-0' style='height:41px'>
			<dl class="sub-nav">
				<dd onclick='select_option_popular(this)' class="pop_btn active"><a (click)="scroll(action_section)">ALL</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(action_section)">ACTION</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(fantasy_section)">FANTASY</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(drama_section)">DRAMA</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(comedy_section)">COMEDY</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(sports_section)">SPORTS</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(horror_section)">HORROR</a></dd>
			</dl>
		</div>
	</div>
</div>


<div style='padding:10px 40px 40px 60px;'>

	<!-- ACTION SERIES	-->
	<div #action_section class='comics content' style='padding:30px;'>
		<p style='font-size:40px; position:relative; left:0px;'>Action</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div *ngFor="let comic of actionSeries" class="column_comic" onclick='select_comic()'>
				<div (click)="selectSeries(comic);" routerLink="/series" routerLinkActive="active" class='comic_banner'
					  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + comic.thumbnail + ') no-repeat center center / cover'}"></div>
				<span class='title' style='font-size:18px; position:relative; left:30px; top:-220px; color:white'>{{ comic.comicSeriesName }}</span><br/>
				<div class='title label tiny success radius' style='position:relative; left:30px; top:-220px;'>
					<span *ngIf='comic.score == 0' style='font-size:12px; margin-left:2px; color:white'>Not yet rated</span>
					<span *ngFor="let number of [1,2,3,4, 5]">
					<span *ngIf="comic.score >= number" class="fa fa-star" style='font-size:12px; margin-left:2px; color:white'>
					</span>
				</span>
				</div>
				<br/>
				<div class='description'style='position:relative; left:30px; top:-212px;'>
					{{comic.author}}
					<hr style='margin-top:6px; margin-bottom:6px;'/>
					{{comic.description}}
				</div>
				<br/>
				<p class='title label tiny success radius' style='position:relative; left:30px; top:-230px; font-size:12px; color:white'>{{ comic.genre }}</p>
			</div>
			<div *ngIf='actionSeries.length == 0'>
				<div class='alert-box expand secondary' style='font-size:18px'>Ops, looks like we don't yet have any action comics. Be the first to create one!</div><button style='font-size:18px; display:inline-block' class='button small radius black'>Create</button>
			</div>
		</div>
	</div>

	<hr/>
	<!-- FANTASY SERIES	-->
	<div #fantasy_section  class='comics content' style='padding:40px;'>
		<p style='font-size:40px; position:relative; left:0px;'>Fantasy</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div *ngFor="let comic of fantasySeries" class="column_comic" onclick='select_comic()'>
				<div (click)="selectSeries(comic);" routerLink="/series" routerLinkActive="active" class='comic_banner'
					  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + comic.thumbnail + ') no-repeat center center / cover'}"></div>
				<span class='title' style='font-size:18px; position:relative; left:30px; top:-220px; color:white'>{{ comic.comicSeriesName }}</span><br/>
				<div class='title label tiny success radius' style='position:relative; left:30px; top:-220px;'>
					<span *ngIf='comic.score == 0' style='font-size:12px; margin-left:2px; color:white'>Not yet rated</span>
					<span *ngFor="let number of [1,2,3,4, 5]">
					<span *ngIf="comic.score >= number" class="fa fa-star" style='font-size:12px; margin-left:2px; color:white'>
					</span>
				</span>
				</div>
				<br/>
				<div class='description'style='position:relative; left:30px; top:-212px;'>
					{{comic.author}}
					<hr style='margin-top:6px; margin-bottom:6px;'/>
					{{comic.description}}
				</div>
				<br/>
				<p class='title label tiny success radius' style='position:relative; left:30px; top:-230px; font-size:12px; color:white'>{{ comic.genre }}</p>
			</div>
			<div *ngIf='fantasySeries.length == 0'>
				<div class='alert-box expand secondary' style='font-size:18px'>Ops, looks like we don't yet have any fantasy comics. Be the first to create one!</div><button style='font-size:18px; display:inline-block' class='button small radius black'>Create</button>
			</div>
		</div>
	</div>

	<hr/>
	<!-- COMEDY SERIES -->
	<div #comedy_section  class='comics content' style='padding:40px;'>
		<p style='font-size:40px; position:relative; left:0px;'>Comedy</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div *ngFor="let comic of comedySeries" class="column_comic" onclick='select_comic()'>
				<div (click)="selectSeries(comic);" routerLink="/series" routerLinkActive="active" class='comic_banner'
					  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + comic.thumbnail + ') no-repeat center center / cover'}"></div>
				<span class='title' style='font-size:18px; position:relative; left:30px; top:-220px; color:white'>{{ comic.comicSeriesName }}</span><br/>
				<div class='title label tiny success radius' style='position:relative; left:30px; top:-220px;'>
					<span *ngIf='comic.score == 0' style='font-size:12px; margin-left:2px; color:white'>Not yet rated</span>
					<span *ngFor="let number of [1,2,3,4, 5]">
					<span *ngIf="comic.score >= number" class="fa fa-star" style='font-size:12px; margin-left:2px; color:white'>
					</span>
				</span>
				</div>
				<br/>
				<div class='description'style='position:relative; left:30px; top:-212px;'>
					{{comic.author}}
					<hr style='margin-top:6px; margin-bottom:6px;'/>
					{{comic.description}}
				</div>
				<br/>
				<p class='title label tiny success radius' style='position:relative; left:30px; top:-230px; font-size:12px; color:white'>{{ comic.genre }}</p>
			</div>
			<div *ngIf='comedySeries.length == 0'>
				<div class='alert-box expand secondary' style='font-size:18px'>Ops, looks like we don't yet have any comedy comics. Be the first to create one!</div><button style='font-size:18px; display:inline-block' class='button small radius black'>Create</button>
			</div>
		</div>
	</div>

	<hr/>

	<!-- DRAMA SERIES	-->
	<div #drama_section  class='comics content' style='padding:40px;'>
		<p style='font-size:40px; position:relative; left:0px;'>Drama</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div *ngFor="let comic of dramaSeries" class="column_comic" onclick='select_comic()'>
				<div (click)="selectSeries(comic);" routerLink="/series" routerLinkActive="active" class='comic_banner'
					  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + comic.thumbnail + ') no-repeat center center / cover'}"></div>
				<span class='title' style='font-size:18px; position:relative; left:30px; top:-220px; color:white'>{{ comic.comicSeriesName }}</span><br/>
				<div class='title label tiny success radius' style='position:relative; left:30px; top:-220px;'>
					<span *ngIf='comic.score == 0' style='font-size:12px; margin-left:2px; color:white'>Not yet rated</span>
					<span *ngFor="let number of [1,2,3,4, 5]">
					<span *ngIf="comic.score >= number" class="fa fa-star" style='font-size:12px; margin-left:2px; color:white'>
					</span>
				</span>
				</div>
				<br/>
				<div class='description'style='position:relative; left:30px; top:-212px;'>
					{{comic.author}}
					<hr style='margin-top:6px; margin-bottom:6px;'/>
					{{comic.description}}
				</div>
				<br/>
				<p class='title label tiny success radius' style='position:relative; left:30px; top:-230px; font-size:12px; color:white'>{{ comic.genre }}</p>
			</div>
			<div *ngIf='dramaSeries.length == 0'>
				<div class='alert-box expand secondary' style='font-size:18px'>Ops, looks like we don't yet have any drama comics. Be the first to create one!</div><button style='font-size:18px; display:inline-block' class='button small radius black'>Create</button>
			</div>
		</div>
	</div>

	<hr/>

	<!-- SPORTS SERIES -->
	<div #sports_section  class='comics content' style='padding:40px;'>
		<p style='font-size:40px; position:relative; left:0px;'>Sports</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div *ngFor="let comic of sportsSeries" class="column_comic" onclick='select_comic()'>
				<div (click)="selectSeries(comic);" routerLink="/series" routerLinkActive="active" class='comic_banner'
					  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + comic.thumbnail + ') no-repeat center center / cover'}"></div>
				<span class='title' style='font-size:18px; position:relative; left:30px; top:-220px; color:white'>{{ comic.comicSeriesName }}</span><br/>
				<div class='title label tiny success radius' style='position:relative; left:30px; top:-220px;'>
					<span *ngIf='comic.score == 0' style='font-size:12px; margin-left:2px; color:white'>Not yet rated</span>
					<span *ngFor="let number of [1,2,3,4, 5]">
					<span *ngIf="comic.score >= number" class="fa fa-star" style='font-size:12px; margin-left:2px; color:white'>
					</span>
				</span>
				</div>
				<br/>
				<div class='description'style='position:relative; left:30px; top:-212px;'>
					{{comic.author}}
					<hr style='margin-top:6px; margin-bottom:6px;'/>
					{{comic.description}}
				</div>
				<br/>
				<p class='title label tiny success radius' style='position:relative; left:30px; top:-230px; font-size:12px; color:white'>{{ comic.genre }}</p>
			</div>
			<div *ngIf='sportsSeries.length == 0'>
				<div class='alert-box expand secondary' style='font-size:18px'>Ops, looks like we don't yet have any sports comics. Be the first to create one!</div><button style='font-size:18px; display:inline-block' class='button small radius black'>Create</button>
			</div>
		</div>
	</div>

	<hr/>

	<!-- HORROR SERIES -->
	<div #horror_section  class='comics content' style='padding:40px;'>
		<p style='font-size:40px; position:relative; left:0px;'>Horror</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div *ngFor="let comic of horrorSeries" class="column_comic" onclick='select_comic()'>
				<div (click)="selectSeries(comic);" routerLink="/series" routerLinkActive="active" class='comic_banner'
					  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + comic.thumbnail + ') no-repeat center center / cover'}"></div>
				<span class='title' style='font-size:18px; position:relative; left:30px; top:-220px; color:white'>{{ comic.comicSeriesName }}</span><br/>
				<div class='title label tiny success radius' style='position:relative; left:30px; top:-220px;'>
					<span *ngIf='comic.score == 0' style='font-size:12px; margin-left:2px; color:white'>Not yet rated</span>
					<span *ngFor="let number of [1,2,3,4, 5]">
					<span *ngIf="comic.score >= number" class="fa fa-star" style='font-size:12px; margin-left:2px; color:white'>
					</span>
				</span>
				</div>
				<br/>
				<div class='description'style='position:relative; left:30px; top:-212px;'>
					{{comic.author}}
					<hr style='margin-top:6px; margin-bottom:6px;'/>
					{{comic.description}}
				</div>
				<br/>
				<p class='title label tiny success radius' style='position:relative; left:30px; top:-230px; font-size:12px; color:white'>{{ comic.genre }}</p>
			</div>
			<div *ngIf='horrorSeries.length == 0'>
				<div class='alert-box expand secondary' style='font-size:18px'>Ops, looks like we don't yet have any horror comics. Be the first to create one!</div><button style='font-size:18px; display:inline-block' class='button small radius black'>Create</button>
			</div>
		</div>
	</div>


	<!--	DELETE STATIC HTML	-->

</div>