<main-nav></main-nav>

<br/>
<div>
	<div class='row' id='all_comics' style='display:block'>
		<p style='font-size:40px; position:relative; left:0px;'>My Comics</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div class="column_comic">
				<div routerLink='/create' class='comic_banner no_shadow' style="background:black">
					<span class='title' style='font-size:22px; color:black'><a routerLink='/create'>Create New Series</a></span><br/>
				</div>
			</div>
			<div *ngFor="let comic of comics" class="column_comic">
				<div (click)="updateCurrentSeries(comic);" routerLink='/dashboardseries' routerLinkActive="active" class='comic_banner'
					  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + comic.thumbnail + ') no-repeat center center / cover'}"></div>
					<span class='title' style='font-size:18px; position:relative; left:30px; top:-220px; color:white'>{{ comic.comicSeriesName }}</span><br/>
					<div class=' label tiny success radius' style='position:relative; left:30px; top:-220px;'>
						<span *ngIf='comic.score == 0' style='font-size:12px; margin-left:2px; color:white'>Not yet rated</span>
						<span *ngFor="let number of [1,2,3,4, 5]">
							<span *ngIf="comic.score >= number" class="fa fa-star" style='font-size:12px; margin-left:2px; color:white'>
							</span>
						</span>
					</div>
				<div class='description'style='position:relative; left:30px; top:-212px;'>
					{{comic.author}}
					<hr style='margin-top:6px; margin-bottom:6px;'/>
					{{comic.description}}
				</div>
				<br/>
				<p class='title label tiny success radius' style='position:relative; left:30px; top:-230px; font-size:12px; color:white'>{{ comic.genre }}</p>
			</div>
		</div>
	</div>
</div>