<main-nav></main-nav>
<br/>
<div>
	<div class='row'>
		<p style='font-size:40px; position:relative; left:0px;'><span id='signup_title' routerLink='/register'>Sign up</span> | <span class='active_cus' routerLink='/login'  id='login_title'>Login</span></p>
		<form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
			<div style='width:100%; margin-left:auto; margin-right:auto;  background:white; padding:40px;'>

				<div class='row' style='width:80%; margin-left:auto; margin-right:auto; '>
					<p style='font-size:20px; font-weight:bold'>Username *</p>
					<div class='small-12 columns'>
						<input formControlName="username" style='padding:0px; position:relative; left:-16px; font-size:20px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none; border-bottom-style:solid;'
								 type='text' formControlName="username" required placeholder='Enter Username'>
					</div>
				</div>

				<br/>
				<div class='row' style='width:80%; margin-left:auto; margin-right:auto; '>
					<p style='font-size:20px; font-weight:bold'>Password *</p>
					<div class='small-12 columns'>
						<input formControlName="password" style='padding:0px; position:relative; left:-16px; font-size:20px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none; border-bottom-style:solid;'
								 type='password' formControlName="password" required placeholder='Enter Password'>
					</div>
				</div>

				<br/>


				<div style='text-align:center'>
					<button [disabled]="!loginForm.valid" type='submit' id='login_btn' class='button small black publish' style='font-size:20px'>Sign In</button>
				</div>
			</div>
		</form>
	</div>

	<br/>
</div>
